*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0 auto;
    background-color: #adadad;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    width: 480px;
}

.main {
    background-color: #ffffff;
    gap: 8px;
    padding-bottom: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.inputWrapper {
    position: relative;
}
.inputWrapperLow {
    position: relative;
}

.mainInput {
    width: 460px;
    min-height: 45px;
    border: 1px #adadad solid;
    border-radius: 10px;
    padding-left: 12px;
    font-size: 18px;
}

.svg {
    position: absolute;
    top: 12px;
    right: 8px;
}

.btnAddTask {
    position: absolute;
    top: 12px;
    right: 8px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.btnDeleteTask {
    border: none;
    background-color: inherit;
    cursor: pointer;
    background-image: url("assets/img/close-icon.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
    min-height: 45px;
    border: 1px #adadad solid;
    border-radius: 10px;
    padding: 0px 10px 0 10px;
}

input[type="radio"] {
    accent-color: gray;
}

.text {
    width: 380px;
    padding: 10px 10px;
}

p {
    padding-top: 10px;
}

.listTask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.noteDone {
    background-color: rgb(153, 203, 223);
}

.done {
    text-decoration: line-through;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
